



/* .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.menu-icon.open {
    display: block;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-links {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.nav-links:hover {
    color: #f0f0f0;
}  .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .nav-menu.active {
        max-height: 300px; 
    }

    .nav-item {
        margin-right: 0;
        text-align: center;
    } */
